<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}My Project{% endblock %}</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/jwt-decode@3.1.2/build/jwt-decode.min.js"></script>
  <script src="{{ url_for('static', filename='js/page-urls.js') }}"></script>
  <script src="{{ url_for('static', filename='js/encrypt.js') }}"></script>
  <script src="{{ url_for('static', filename='js/auth.js') }}"></script>
  <script>
    const setPageUrls = () => {
      const $HOME = document.querySelector("#navbar-home");
      $HOME.href = PAGE_URLS["HOME"];

      const $MYPAGE = document.querySelector("#navbar-mypage");
      $MYPAGE.href = PAGE_URLS["MYPAGE"];

      const $GITHUB_LINK = document.querySelector("#github-link");
      $GITHUB_LINK.href = PAGE_URLS["GITHUB_REPO"];
    }

    window.addEventListener('load', setPageUrls);

  </script>
</head>

<body>
  <!-- Navbar -->
  <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a id="navbar-home" class="navbar-item" href=""> 해우소 </a>
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarMenu" class="navbar-menu">
      <div class="navbar-end">
        <a id="navbar-mypage" class="navbar-item" href="">회원정보</a>
        <a class="navbar-item" onclick="logout()">로그아웃</a>
      </div>
    </div>
  </nav>

  <section class="section">
    <div class="container">{% block content %}{% endblock %}</div>
  </section>

  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>고민 해우소</strong> by
        <a id="github-link" href="">in6p</a>.
      </p>
    </div>
  </footer>

  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const $navbarBurgers = Array.prototype.slice.call(
        document.querySelectorAll(".navbar-burger"),
        0
      );

      if ($navbarBurgers.length > 0) {
        $navbarBurgers.forEach((el) => {
          el.addEventListener("click", () => {
            const target = el.dataset.target;
            const $target = document.getElementById(target);

            el.classList.toggle("is-active");
            $target.classList.toggle("is-active");
          });
        });
      }
    });

    function logout() {
      const token = sessionStorage.getItem('access_token');
      const PAGE_SIGN_IN = BASE_URLS["SIGN_IN"];
      const baseUrl = window.location.origin;
      // 세션 스토리지에 토큰 없으면 동작 X
      if (!token) {
        return;
      }
      // 세션 스토리지에 토큰이 존재했다면 -> 세션스토리지에서 토큰 삭제 후 로그인으로 이동
      else {
        removeAccessToken()
        alert("로그아웃 되었습니다.");
        window.location.href = baseUrl + PAGE_SIGN_IN;
      }
    }
  </script>
</body>

</html>