{% extends "base.html" %}

{% block title %}해우소 - 고민 상세 페이지{% endblock %}

{% block content %}

<div class="section">
    <div style="display: flex; align-items: center; justify-content: space-between;">
        <h1 class="title has-text-black" style="margin-right: 10px;">고민 읽기</h1>
        <!-- 글 작성자 id == 토큰 아이디인 경우 -> 수정 버튼 display -->
        <button type="submit" class="button is-primary">수정</button>
    </div>
    <div style="display: flex; align-items: center; justify-content: flex-start; width: 100%; margin-bottom: 10px;">
        <p class="subtitle has-text-black"
            style="flex: 0 0 10%; padding-right: 10px; white-space: nowrap; line-height: 1.5;">제목</p>
        <div class="box"
            style="flex: 1 0 90%; padding: 10px; background-color: rgb(245, 245, 245); white-space: nowrap; overflow: hidden; text-overflow: ellipsis; line-height: 1.5;">
            {{concern.title}}
        </div>
    </div>
    <div style="display: flex; align-items: center; justify-content: flex-start; width: 100%;">
        <p class="subtitle has-text-black"
            style="flex: 0 0 10%; padding-right: 10px; white-space: nowrap; line-height: 1.5;">닉네임</p>
        <div class="box"
            style="flex: 1 0 90%; padding: 10px; background-color: rgb(245, 245, 245); white-space: nowrap; overflow: hidden; text-overflow: ellipsis; line-height: 1.5;">
            {{concern.created_by}}
        </div>
    </div>

    <p class="subtitle has-text-black">내용</p>
    <div class="content" style="background-color: rgb(245,245,245); height: 300px">
        <p>{{concern.content}}</p>
    </div>
</div>


<div class="section">
    <h2 class="title has-text-black">솔루션</h2>
    <form id="solution-form">
        <div class="field">
            <div style="display: flex; align-items: center; justify-content: space-between;">
                <label class="label">새 댓글</label>
                <div class="field">
                    <div class="control">
                        <label class="radio">
                            <input type="radio" name="revealed" value="true" checked>
                            공개
                        </label>
                        <label class="radio">
                            <input type="radio" name="revealed" value="false">
                            비공개
                        </label>
                    </div>
                </div>
            </div>
            <div style="display: flex; align-items: center;">
                <div class="control" style="flex-grow: 1; margin-right: 10px;">
                    <input class="input" type="text" name="content" placeholder="댓글 내용을 입력하세요" style="width: 100%;">
                </div>
                <div class="control">
                    <button type="button" class="button is-primary" onclick="addSolution()">댓글 추가</button>
                </div>
            </div>
        </div>
    </form>
    <div id="comments">
        {% for solution in solutions %}
        <div class="box">
            <p><strong>{{solution.created_by}} </strong>| {{solution.content}}</p>
        </div>
        {% endfor %}
        <div class="box">
            <p><strong>너구리 </strong>| 힘내세요</p>
        </div>
        <div class="box">
            <p><span style="color:rgb(175, 175, 175)">익명 스님의 해답입니다.</span></p>
        </div>
        <div class="box">
            <p><strong>익명 스님 </strong>| 화이팅</p>
        </div>
        <div class="box">
            <div style="display: flex; align-items: center;">
                <div class="control" style="flex-grow: 1; margin-right: 10px;">
                    <p><strong>강아지 </strong>| 할 수 있어요</p>
                </div>
                <!-- 댓글 작성자 id == 토큰 아이디인 경우 -> 삭제 버튼 display -->
                <div class="control">
                    <button class="button is-danger">삭제</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/jwt-decode@3.1.2/build/jwt-decode.min.js"></script>
<script>

    // 댓글 추가 기능
    function addSolution() {
        const token = sessionStorage.getItem('access_token');
        const decodedToken = jwt_decode(token);
        const userId = decodedToken.user_id;

        const form = document.getElementById("solution-form"); // 오타 수정
        const formData = new FormData(form);

        // content 필드 값 가져오기
        const content = formData.get("content");

        // content 필드가 비어 있으면 경고 메시지 표시
        if (!content || content.trim() === "") {
            alert("내용을 입력해주세요.");
            return;
        }

        // formData에 각각 값 추가
        formData.append("concern_id", "{{ concern._id }}");
        formData.append("user_id", userId);
        formData.append("concerned_by", "{{ concern.created_by }}");

        $.ajax({
            type: "POST",
            url: "/concern/solution",
            data: formData,
            processData: false,  // jQuery가 데이터를 문자열로 변환하지 않도록 설정
            contentType: false,  // jQuery가 콘텐츠 타입을 설정하지 않도록 설정
            success: function (response) {
                if (response.result == "success") {
                    alert("등록 완료!");
                    location.reload();
                } else {
                    alert("서버 오류!");
                }
            },
            error: function (xhr, status, error) {
                console.error("Error: " + error);
                alert("서버 오류! 다시 시도해주세요.");
            }
        });
    }

    function deleteSolution(solutionId) {
        const token = sessionStorage.getItem('access_token');
        const decodedToken = jwt_decode(token);
        const userId = decodedToken.user_id;

        $.ajax({
            type: "DELETE",
            url: `/concern/solution/${solutionId}`,
            contentType: "application/json",
            dataType: "json",
            data: JSON.stringify({
                user_id: userId
            }),
            success: function (response) {
                if (response.result == "success") {
                    alert("삭제 완료!");
                    location.reload();
                } else {
                    alert("서버 오류!");
                }
            },
            error: function (xhr, status, error) {
                console.error("Error: " + error);
                alert("서버 오류! 다시 시도해주세요.");
            }
        });
    }
</script>

{% endblock %}