{% extends "base.html" %}

{% block title %}로그인 - 해우소{% endblock %}

{% block content %}
<h1 class="title has-text-black">고민 解憂所</h1>
<form id="loginForm" onsubmit="login(event)">
    <div class="field">
        <label class="label has-text-black">ID</label>
        <div class="control">
            <input class="input" type="text" id="user_id" placeholder="아이디를 입력하세요" required>
        </div>
    </div>
    <div class="field">
        <label class="label has-text-black">비밀번호</label>
        <div class="control">
            <input class="input" type="password" id="password" placeholder="비밀번호를 입력하세요" required>
        </div>
    </div>
    <div class="field">
        <div class="control">
            <button type="button" class="button is-primary" onclick="login(event)">로그인</button>
            <button type="button" class="button is-primary" onclick="register()">회원 가입</button>
        </div>
    </div>
</form>

<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous"></script>
<script>
    async function login(event) {
        event.preventDefault();

        const client_id = $('#user_id').val();
        const client_password = $('#password').val();
        const hashed_client_password = await hashPassword(client_password)

        function getRedirectUrl() {
            var params = new URLSearchParams(window.location.search);
            return params.get('redirect');
        }


        $.ajax({
            type: 'POST',
            url: '/api/user/sign-in',
            contentType: 'application/json',
            data: JSON.stringify({ 'user_id': client_id, 'password': hashed_client_password }),

            success: function (response, textStatus, jqXHR) {
                if (jqXHR.status === 200) {
                    let token = response['access_token'];
                    setAccessToken(token);
                    alert('로그인 성공');

                    const redirectUrl = getRedirectUrl() ?? PAGE_URLS["HOME"];
                    window.location.href = redirectUrl;
                } else {
                    alert('로그인 실패');
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                if (jqXHR.status === 400) {
                    alert('잘못된 요청: ' + jqXHR.responseJSON.message);
                } else if (jqXHR.status === 404) {
                    alert('존재하지 않는 유저입니다.');
                } else {
                    alert('오류가 발생했습니다.');
                }
            }
        });
    }

    function register() {
        const baseUrl = window.location.origin;
        window.location.href = baseUrl + PAGE_URLS["SIGN_UP"];
    }
</script>
{% endblock %}