<script>
  function handleSubmit() {
    const nickname = $('input[name="nickname"]').val();
    const user_id = $('input[name="id"]').val();
    const password = $('input[name="password"]').val();
    const confirmed_password = $('input[name="confirm_password"]').val();

    if (password !== confirmed_password) {
      alert("PW를 다시 확인해주세요");
      return;
    }

    const data = {
      user_id,
      password,
      nickname,
    };

    $.ajax({
      type: "POST",
      url: "/api/user/sign-up",
      contentType: "application/json",
      data: JSON.stringify(data),
      success: function (res) {
        const PAGE_SIGN_IN = "/signin";
        window.location.href = PAGE_SIGN_IN;
      },
      error: function (xhr, status, error) {
        const errorMessage = xhr.responseJSON.message;
        alert(errorMessage);
      },
    });
  }
</script>

{% extends 'base.html' %} {% block title %}회원 가입{% endblock %} {% block
content %}
<div class="columns is-mobile is-centered">
  <div class="column is-full-mobile is-half-tablet is-one-third-desktop">
    <h1 class="title has-text-centered">회원 가입</h1>

    <form action="/signup" method="POST">
      <div class="field">
        <label class="label">닉네임</label>
        <div class="control">
          <input class="input" type="text" name="nickname" placeholder="닉네임을 입력해주세요" required />
        </div>
      </div>

      <div class="field">
        <label class="label">ID</label>
        <div class="control">
          <input class="input" type="text" name="id" placeholder="id를 입력해주세요" required />
        </div>
      </div>

      <div class="field">
        <label class="label">PW</label>
        <div class="control">
          <input class="input" type="password" name="password" placeholder="비밀번호를 입력해주세요" required />
        </div>
      </div>

      <div class="field">
        <label class="label">PW 확인</label>
        <div class="control">
          <input class="input" type="password" name="confirm_password" placeholder="비밀번호를 한 번 더 입력해주세요" required />
        </div>
      </div>

      <div class="field">
        <div class="control">
          <button class="button is-primary is-fullwidth" type="button" onclick="handleSubmit()">
            가입 완료
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}